{% load static %}

<ul class="mainMenu">
    <li>
        <a href="{% url 'main:index' %}">
            Главная
        </a>
    </li>
    <li><a href="{% url 'main:products' %}">
        Каталог
        </a>
    </li>
    <li><a href="{% url 'main:contacts' %}">
        Контакты
        </a>
    </li>
    <li>
        {% if user.is_authenticated %}
            <a href="{% url 'auth:user_update'%}">
                {{ user.first_name| default:'Пользователь'}}
            </a>
        {% endif %}
    </li>
    <li>
        {% if user.is_authenticated %}
            <a href="{% url 'auth:user_logout'%}">Выйти</a>
        {% else %}
            <a href="{% url 'auth:user_login'%}">Войти</a>
        {% endif %}
    </li>
</ul>