<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Главная</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <img src="/static/img/surf-logo.svg" alt="surf logo">
                <div class="storeName">
                    My shop
                </div>
                <ul class="mainMenu">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/products">Каталог</a></li>
                    <li><a href="/contacts">Контакты</a></li>
                </ul>
            </div>

            <hr>

            {% block container %}
            {% endblock %}

            <hr>
            <div class="footer">&copy; "Все права защищены"</div>
        </div>
    </body>
</html>