{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ page_title|title }}</title>


        {% block css %}
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% endblock %}

        {% block js%}
        {% endblock %}

    </head>
    <body>
        <div class="container">
            <div class="header">
                <img src="/static/img/surf-logo.svg" alt="surf logo">
                <div class="storeName">
                    My shop
                </div>

                {% include 'mainapp/includes/inc__main_menu.html' %}

            </div>

            <hr>

            {% block container %}
            {% endblock %}

            <hr>
            <div class="footer">&copy; "Все права защищены" {% now "Y" %}</div>
        </div>
    </body>
</html>