{% extends 'mainapp/base.html' %}
{% load static %}

{% block container %}
    {% include 'mainapp/includes/inc__categories_menu.html' %}
    <hr>
 
    <hr>
    <h1>Товары в категории {{ category.name }}</h1>
    <div class="paginator">
        <a href="{% url 'main:categories' category.pk 1 %}">
            <<
        </a>
        {% if products.has_previous %}
            <a href="{% url 'main:categories' category.pk products.previous_page_number %}">
                <
            </a>
        {% endif %}
        <span class="current">
            страница {{ products.number }} из
            {{ products.paginator.num_pages }}
        </span>
        {% if products.has_next %}
            <a href="{% url 'main:categories' category.pk products.next_page_number %}">
                >
            </a>
        {% endif %}
        <a href="{% url 'main:categories' category.pk products.paginator.num_pages %}">
            >>
        </a>
    </div>
    <div class="block_similar_products">
        {% for product in products %}
            <div class="description_in_similar_products">
            <div class="block">
                <a href="{% url 'main:product' product.pk %}">
                    <img class="similar_products" src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.short_desc }}</p>
                </a>
            </div>   
        </div>
        {% endfor %}
    </div>
    
{% endblock %}