{% extends 'mainapp/base.html' %}
{% load static %}

{% block container %}
    <h1>Контакты</h1>

    <fieldset>
        <legend>Напишите нам</legend>
        <form class="contactsForm" action="contacts.html" method="post">
            <input type="text" name="username" placeholder="Введите ваше имя">
            <br>
            <input type="email" name="email" placeholder="Введите ваш электронный адрес">
            <br>
            <input type="text" name="subject" placeholder="Тема сообщения">
            <br>
            <label for="letterBody">Суть вашего письма:</label>
            <br>
            <textarea name="letter" id="letterBody" cols="30" rows="10"></textarea>
            <br>
            <input type="submit" value="Отправить">
        </form>
    </fieldset>

    <div>
        {% if locations %}
            {% for location in locations  %}
                <div class="adress_in_contacts">
                    <h2> {{ location.city }} </h2>
                    <p>
                        <strong>Телефон: </strong> {{ location.phone}}<br>
                        <strong>Адрес: </strong> {{ location.adress}}<br>
                        <strong>Email: </strong> {{ location.email}}
                    </p>
                </div>
            {% endfor %}
        {% else %}
                <h3>Данные подгружаются...</h3>
        {% endif %}    
    </div>

{% endblock %}