{% extends 'mainapp/base.html' %}
{% load static %}

{% block container %}
    <ul class="menu_catalog">
        <li><a href="#">ЛОНГБОРД</a></li>
        <li><a href="#">ФАНБОРД</a></li>
        <li><a href="#">ШОРТБОРД</a></li>
        <li><a href="#">ФИШ</a></li>
        <li><a href="#">ГАН</a></li>
    </ul>
    <hr>
    <h1>Доска для серфинга QUADKUMBER</h1>

    <div class="productImgAndDesc">
        <a class="productImgWrap" href="{% static 'img/surfboard.jpg' %}" target="_blank">
            <img class="productImg" src="{% static 'img/surfboard.jpg' %}" alt="surfboard">
        </a>
        <div class="productShortDescWrap">
            <h2 class="productHeader">Описание товара:</h2>
            <p class="productShortDescription">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis earum eos eum
                exercitationem natus nemo officiis, rerum soluta voluptatibus! Architecto commodi dicta
                ea excepturi obcaecati placeat quos, sunt tenetur voluptas?
            </p>
            <a href="#" class="productBuyBtn">Купить</a>
        </div>
    </div>

    <p>
        <strong>BEST FOR:</strong> Getting into waves and maintaining speed;
        without sacrificing the ability to hit the lip.
        This board really flows off the tail.
    </p>
    <p>
        <strong>FIN:</strong> Future boxes or glass on wooden fins,
        by Gully, are standard on the Quadkumber.
    </p>

    <h2 class="productHeader">Характеристики товара:</h2>
    <p>
        <strong>RECOMMENDED BETWEEN:</strong> 5’2 and 6’2 long
        <br>
    </p>

    <h2 class="productHeader">Подробное описание товара:</h2>
    <p class="productFullDescription">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dolorum earum
        excepturi hic iure necessitatibus nostrum numquam officia quaerat quisquam? Cupiditate
        dolores excepturi hic ipsum nulla rem saepe. Consequatur, dolor, sequi? Dolor error
        excepturi illum necessitatibus saepe! Iste, officia porro?
    </p>
{% endblock %}