{% extends 'mainapp/base.html' %}
{% load static %}

{% block container %}
    {% include 'mainapp/includes/inc__categories_menu.html' %}
    <hr>
    <div class="hot_product">
        <img class="similar_products" src="/media/{{ hot_product.image }}" alt="{{ product.short_desc }}">
        <h3>{{ hot_product.name }}</h3>
        <h3>горячее предложение</h3>
        <p >{{ hot_product.price }}<span>руб</span></p>
        <a href="{% url 'basket:basket_add' hot_product.pk %}" class="productBuyBtn">
            заказать </i>
        </a>
        <div>
            <p>{{ hot_product.short_description }}</p>
        </div>
    </div>
    <hr>
    <h1>Похожие товары</h1>
    <div class="block_similar_products">
        {% for product in products %}
            <div class="description_in_similar_products">
            <div class="block">
                <a href="{% url 'main:product' product.pk %}">
                    <img class="similar_products" src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.short_desc }}</p>
                </a>
            </div>   
        </div>
        {% endfor %}
    </div>
    
{% endblock %}